.footer-bg {
  background: linear-gradient(rgba(13, 15, 26, 0.959), rgba(13, 15, 26, 0.966)),
    url("../assets/cargo-container.jpg");
  background-size: cover;
  background-position: center center;
}
ul li {
  font-size: 17px;
  font-weight: 300;
}
.footer-p {
  font-family: "Kanit", sans-serif;
  font-size: 17px;
}
